<p>Hi, {{name}}</p>
<p>Your account was created successfully.</p>
<p>Please use the new password below to sign into your account.</p>

<p>Password: {{password}}</p> 


---
<small>This email and any files transmitted with it are confidential and intended solely for the use of the individual or entity to whom they are addressed. This message contains confidential information and is intended only for the individual named. If you are not the named addressee you should not disseminate, distribute or copy this e-mail. Please delete this e-mail from your system immediately if you have received this e-mail by mistake. If you are not the intended recipient you are notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited.</small>