#Environment Configurations
NODE_ENV=development
PORT=3000

#Security Configurations
JWT_SECRET=2KYSNGrFiCiuartCrsNOfjgKoFW7KSvkbW6GKkVnw8AaYIyFT2UyInwlLexQX1L
JWT_ACCESS_TOKEN_EXPIRATION_HOUR=3
LOGIN_ATTEMPT_THRESHOLD=4

#Mongo Configurations
MONGODB_URI=mongodb://localhost/dispatchja

#Email Configurations
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_HOST=smtp.google.com
EMAIL_SENDER="No Reply" <no-reply@internet.com >,
EMAIL_HOST_NAME=hostname.com
EMAIL_PORT=465
EMAIL_IS_SECURE=true

#Integrations Configurations
TOOKAN_API_URL=
TOOKAN_API_KEY=

ADMIN_NAME=
ADMIN_EMAIL=